.bg {
    background-color: #fff;
    height: 100vh;

}

.bg1 {
    background-image: url("../images/bg1.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-repeat: no-repeat;

}

.text-color {
	color:white;
}


.bdr {

	border-style: bold black;
	border-width: 3px;
	border-color: red;
}

body {
font-family: 'Nunito', sans-serif;
	color: DDD;
}

.image {
  height: 300px;
}

div.col-md-8>p:nth-of-type(2) {
  color : rgba(160, 156, 137, 0.92);
  text-align: center;
  font-size: 6px;
}


